@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Projeto - DigiLib - Programação Web</h1>
    <h2>Profª Fernando Graciano</h2>
</div>
<br />
<div class="container">
    <img src="~/imagem-biblioteca2-e1556215501802.png" alt="biblioteca" width="1000" height="800"/>
    <br />
</div>
<p>Acesse já <a href="https://www.fatectq.edu.br/">Fatec Taquaritinga</a>.</p>